<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title><%=title%></title>
  <link rel="shortcut icon" href="/public/img/logo/cuisine-white-green.png" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="/public/semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="/public/ionicons/dist/css/ionicons.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/dist/common.js?v=<%= date %>"></script>
  <script type="text/javascript" src="/dist/common2.js?v=<%= date %>"></script>
  <script type="text/javascript" src="/dist/common3.js?v=<%= date %>"></script>
  <script type="text/javascript" src="/dist/common4.js?v=<%= date %>"></script>
  <script type="text/javascript" src="/dist/vendor.js?v=<%= date %>"></script>
</head>

<body>
  <div id="main"></div>
</body>

<script type="text/javascript" src="/dist/main.js?v=<%= date %>"></script>

</html>